{% extends "layout.njk" %}

{% block content %}
<nav class="navbar">
  <a class="brand" href="index.html">Brand</a>
  <button class="navbar__toggle">
      <img src="public/img/burgermenu.svg" alt="menu">
      </button>
  <div class="navbar__collapse">
      <ul class="nav">          
      <li class="nav-item"><a href="#" class="button">Hem</a></li>
      <li class="nav-item"><a href="#" class="button">Battlereports</a></li>
      <li class="nav-item"><a href="#" class="button">Tutorials</a></li>
      <li class="nav-item"><a href="#" class="button">Reviews</a></li>
      </ul>
  </div>
</nav>
  <h1>{{ title }}</h1>
  <p>This is a site for battlereports on differant games and discussions surrounding the wargames aswell as reviews of wargame related things.</p>
  <h2>What can you excpect?</h2>
  <p>You can excpect fun and exciting battlereports on games such as Warhammer 40 000, Warhammer Age of Sigmar, Warhammer The Old World and Genesys project. The site also has reviews on games and tutorials on a veriaty of wargame related content such as tutorials on how I painted models, how to play games and how to build terrain</p>
{% endblock %}