{% extends "layout.njk" %}

{% block content %}
<h1>Add a new list to your account</h1>
<h2>Game, Listname, points value and composition</h2>
<form method="post" action="/newlist">

    <fieldset>
        <div>
            <h3>Game</h3>
            <select name="game" id="game">
                {% for game in gameSystems %}
                    <!-- <input type="radio" name="game" value="{{ game.id }}"> -->
                    <option value="{{ game.id }}">{{ game.name }}</option>
                {% endfor %}
            </select>
            <!-- <label for="40k">Warhammer 40k</label>
            <input type="radio" id="contactChoice1" name="game" value="Warhammer 40k" />

            <label for="aos">Warhammer AoS</label>
            <input type="radio" id="aos" name="game" value="Warhammer AoS" />

            <label for="tow">Warhammer The Old World</label>
            <input type="radio" id="tow" name="game" value="Warhammer TOW" /> -->
        </div>
    </fieldset>

    <fieldset>
        <label for="listname">Listname</label>
        <input type="text" name="listname" id="listname" required>
    </fieldset>
    
    <fieldset>
        <label for="pointsvalue">Points Value</label>
        <input type="number" name="pointsvalue" id="pointsvalue" required>
    </fieldset>

    <fieldset>
        <label for="composition">Composition</label>
        <textarea name="composition" id="composition" required></textarea>
    </fieldset>
    <input type="submit">
</form>

{% endblock %}