
<h1>Lägg till ny spelare</h1>
<form method="post" action="/newplayer">
    <label for="player">spelare</label>
    <input type="text" name="player" id="player" required>
    <input type="submit">
</form>