{% extends "layout.njk" %}

{% block content %}
<h1>Lägg till ny spelare</h1>
<h2>Spelare och dess armylist</h2>
<form method="post" action="/newplayer">
    <label for="name">name</label>
    <input type="text" name="name" id="name" required>

    <label for="armylist">email</label>
    <input type="text" name="email" id="email" required>

    <label for="armylist">password</label>
    <input type="text" name="password" id="password" required>

    <input type="submit">
</form>

{% endblock %}