{% extends "layout.njk" %}


{% block content %}
<h1>{{ list.username }}</h1>
<h3>Lists:</h3>

<ul>
  {% for list in userWithLists %}
  <li><a href="/lists/{{list.listId}}" class="button">{{ list.listname }}</a></li>
  {% endfor %}
</ul>

{% endblock %}