{% extends "layout.njk" %}

{% block content %}
<main class="wrapper">
    <h1>{{ title }}</h1>
    <ul>
        {% for item in spelare %}
        <li><a href="/user/{{item.id}}">{{ item.namn }}</a></li>
        {% endfor %}
</main>
{% endblock %}